#logo {
  /* max-width: 30%; */
  height: auto;
  margin: 0;
  width: min(50vw, 200px);
}
/* 
#logo-container {
} */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1000;
}

nav::after {
  border-bottom: 12px solid #e1aa12;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* width: 50%; */
  padding-left: 5px;
  align-items: right;
}

.nav-link a {
  display: inline-block;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #013a67;
  border-bottom: 2px solid transparent;
  /* transition: 0.5s ease;
  transform: translateX(0%); */
  font-size: 1em;
  padding: 10px;
  margin: 0, 80px;
}

.nav-link a:hover {
  transition: 0.5s ease;
  transform: translateX(0%);
  color: #54b89e;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 4px;
  border-top: 2px solid #e1aa12;
  border-bottom: 2px solid #e1aa12;
  letter-spacing: 4px;
  cursor: pointer;
}

/* .nav-link a:link {
  display: inline-block;
  /* text-transform: uppercase; */
/* text-decoration: none;
  color: #013a67;
  border-bottom: 2px solid transparent; */
/* transition: 0.5s ease;
    transform: translateX(0%); */
/* font-size: 1em;
  padding: 10px;
  margin: 0, 80px;
} */

/* a:visited — after the user has visited the link


a:active — as the user is clicking on the link */

/* This code removes the default styling from a button and makes it inherit existing styling */
#logout-button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

#logout-button:hover {
  transition: 0.5s ease;
  transform: translateX(0%);
  color: #54b89e;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 4px;
  border-top: 2px solid #e1aa12;
  border-bottom: 2px solid #e1aa12;
  letter-spacing: 4px;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}
